<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Food Access</title>
      <!-- Latest compiled and minified CSS & JS -->
      <link rel="stylesheet" media="screen" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
      <script src="https://code.jquery.com/jquery.js"></script>
      <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
   
  
  </head>

  <body>
    <div class="container-fluid">
      <div class="jumbotron">
          <iframe width="100%" height="520" frameborder="0" src="https://john-jenkins.carto.com/builder/0231ffb8-a9a4-4bc5-9a38-741838b1259e/embed" 
          allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
        <h1 class="display-3">Mapping The Restaurants</h1>
        <br>
        <p>Our project is a combination of fast food restaurant location data as well as census data looking at median income, population and health for states.</p>
      </div>

      <div class="row">
        <div class="col-md-4">
            <div class="well">
                <h5>SELECT Sample:</h5>
                <select id="selDataset" onchange="optionChanged(this.value)"></select>
            </div>
                    <div class="panel panel-info" style="overflow:auto; overflow-wrap:break-word">
                        <div class="panel-heading">
                    <h3 class="panel-title">State Information</h3>
                </div>
                <div id="sample-metadata" class="panel-body"></div>
            </div>
        </div>

    <div class="col-md-8">

            <h5>Plotting State Data</h5>
            <div>
                <a href="https://plot.ly/~blakezara/12/?share_key=xpL97O8vGzDRMdAjmWcT9b" target="_blank" title="Plot 12" style="display: block; text-align: center;"><img src="https://plot.ly/~blakezara/12.png?share_key=xpL97O8vGzDRMdAjmWcT9b" alt="Plot 12" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
                <script data-plotly="blakezara:12" sharekey-plotly="xpL97O8vGzDRMdAjmWcT9b" src="https://plot.ly/embed.js" async></script>
            </div>
            </div>
            </div>
            

    <script type="text/javascript" src="{{ url_for('static', filename='testing.js') }}"></script>

  </body>

</html>